.btn{
    background-color: #525e60;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    margin-left: 75vw;    
    position: relative;
    bottom: 55px;
    font-size: 16px;
    cursor: pointer;
    width: 122px;
    transition: background-color 2s ease-out 60ms
    /* background-color: #163927; */
}

.btn:hover{
    background-color: black;
}

.date{
    margin: 4px;
}