body {
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
    background-color: #FEE140;
    background-image: linear-gradient(90deg, rgb(29 174 218) 0%, #FA709A 100%);
    position:relative; 
    height:100vh; 
    width:100vw;    
}